h1 {
  margin: 0;
  font-family: "Dynapuff", system-ui;
  font-size: 150px;
  text-align: center;
  color: #5e17eb; /* Fill color */
  -webkit-text-stroke: 5px black; /* Black border */
  paint-order: stroke fill; /* Ensures stroke is drawn first */
}

nav {
  background: white;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 10px 10px;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  width: 200px;
  height: 300px;
  margin: 10px 10px;
  background: white;
  border-radius: 10px;
  border: 3px solid black;
  /* Black outline */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

nav ul li a {
  font-family: "Dynapuff", system-ui;
  color: #5e17eb;
  /* Fill color */
  -webkit-text-stroke: 5px black;
  /* Black border */
  paint-order: stroke fill;
  /* Ensures stroke is drawn first */
  font-size: 50px;
  text-decoration: none;
}

nav ul li:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

h2 {
  font-family: "JetBrains Mono", monospace;
  font-size: 25px;
  text-align: center;
}
