h1{
  margin: 0;
  font-family: "Dynapuff", system-ui;
  font-size: 150px;
  text-align: center;
  color:  #5e17eb; /* Fill color */
  -webkit-text-stroke: 5px black; /* Black border */
  paint-order: stroke fill; /* Ensures stroke is drawn first */
  
  
}