main ul {
  background: white;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

main ul li {
  width: 200px;
  height: 300px;
  margin: 10px 10px;
  background: white;
  border-radius: 10px;
  border: 3px solid black;
  /* Black outline */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
  /* Added transition for hover effect */
}

main ul li a {
  font-family: "Dynapuff", system-ui;
  color: #5e17eb;
  /* Fill color */
  -webkit-text-stroke: 5px black;
  /* Black border */
  paint-order: stroke fill;
  /* Ensures stroke is drawn first */
  font-size: 50px;
  text-decoration: none;
}

main ul li:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.BackButton {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #ffff00;
  color: white;
  border: 3px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.BackButton a {
  color: black;
  text-decoration: none;
  font-family: JetBrains Mono, monospace;
  font-size: 20px;
}
